* {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

.banner {
  height: 60vh;
  /* width: 100%; */
  padding: 60px 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../src/images/about.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.banner h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  color: white;
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 100px;
  background-color: #000000;
  color: white;
  align-items: center;
  gap: 60px;
}

.section img {
  width: 50%;
  max-width: 400px;
  border-radius: 10px;
}

.text-content {
  flex: 1;
  padding: 20px;
}

.text-content h2 {
  color: #a00050;
  /* Teal */
  font-size: 36px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ffffff;
}




    /*footer section*/

footer {
  background: #121212;
  color: white;
  padding: 60px 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer h3 {
  margin-bottom: 15px;
  font-size: 24px;
}

.footer p {
  font-size: 16px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #e60073; 
}

.contact-info i {
  margin-right: 8px;
  color: #e60073;
}

.social-icons a {
  margin-right: 10px;
  font-size: 20px;
  color: #e60073;
  text-decoration: none;
}

.bottom-bar {
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.bottom-bar a{
  text-decoration: underline;
  list-style: none;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-container > div {
    flex: 1 1 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-container > div {
    flex: 1 1 100%;
  }
  .bottom-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
}

